.main{
    width:50vw;
    height:50vh;
    position: relative;
}

#ItemPicture{
    width:600px;
    height:400px;
    border: 1px solid white;
    position:absolute;
    bottom: 0;
    left:0;
}

#itemTable{
    width:900px;
    height:250px;
    position: absolute;
    right:20px;
    bottom: 0;
}

#Search{
    width:300px;
    height:300px;
    position: absolute;
    right:40px;
    top:70px;

}

#Search #trolley{
    width:80px;
    height:fit-content;
    position: absolute;
    bottom: 75px;
    left:0;
    right:0;
    margin: auto;

}

#Search #searchButton{
    position: absolute;
    bottom: 20px;
    left:0;
    right:0;
    margin: auto;
    width:150px;

}
#searchHeader{
    height:50px;
    background: #8ab1da;
}

.header{
    background: #8ab1da;
}

#Form{
    width:1050px;
    height:300px;
    position: absolute;
    left:40px;
    top:80px;
}
#Form #FormButton{
   position: absolute;
    bottom:30px;
    right:20px;

}

#searchDropDownButton{
    width:250px;

}

.row{
    margin-bottom: 20px;
}











/*Customer Form CSS*/


#CustomerPicture{
    width:500px;
    height:100px;
  position: absolute;
    bottom: 0;

}


#CussearchHeader{
    height:50px;
    background: #da79e8;
}

#Cusheader{
    background: #8ab1da;
}










/*Place order fORM CSS*/

#placeOrderForm{
    width:500px;
    height:620px;
    background: black;
    position: absolute;
    top:80px;
    bottom:20px;
    left:20px;
}

#ItemForm{
    width:450px;
    height:400px;
    position: absolute;
    left:40px;
    top:90px;
}

#InvoiceForm{
    width:450px;
    height:400px;
    position: absolute;
    left:520px;
    top:90px;
}
#orderCard{
    width:300px;
    height: 400px;
    position: absolute;
    right:30px;
    top:90px;
}

#orderTable{
    width:1300px;
    height:100px;
    position: absolute;
    right:30px;
    bottom: 40px;
    left:70px;
}

#theadOrderTable{
   color: dodgerblue;
}












/*Login card*/

#adminImage{
    width:800px;
    height: 800px;
    position:absolute;
    top:0;
    overflow: hidden;
}

#loginCard {
    border: 5px solid blue;
    border-radius: 20px;
    width: 400px;
    height: 600px;
    position: absolute;
    right: 200px;
    top: 80px;
    padding: 60px;

}

#LoginBody{
    width:99vw;
    height: 99vh;
    overflow: hidden;
}


/*LOFGIN FORM MEDIA QUERY*/


/* For screens up to 1024px width */
@media screen and (max-width: 1024px) {
    #adminImage {
        width: 600px;
        height: 600px;

    }

    #loginCard {
        position: absolute;
       right:30px;
    }
}

/* For screens up to 768px width */
@media screen and (max-width: 768px) {
    #loginCard {
       top:600px;
        left:0;
        right:0;
        margin:auto;
    }

    #adminImage {
        width: 600px;
        height: 600px;
        left:30px;

    }
}

/* For smaller screens */
@media screen and (max-width: 576px) {
    #adminImage {
        width: 600px;
        height: 600px;

    }

    #loginCard {
        width: 400px;
        height: 500px;
        right: 0;
        left:0;
        top:570px;
        padding: 20px;
        margin: auto;
    }
}





/*ITEM MANAGE FORM MEDIA QUERY*/

@media  all and (max-width: 1024px){
    #ItemPicture{
        width:400px;
        height: 270px;
        border: 1px solid white;
        position:absolute;
        left:0;
    }

    #itemTable{
        width:600px;
        height:300px;
        position: absolute;
        right:20px;
        bottom: 0;
    }

    #Search{
        width:280px;
        height:300px;
        position: absolute;
        right:40px;
        top:80px;

    }

    #Search #trolley{
        width:80px;
        height:fit-content;
        position: absolute;
        bottom: 75px;
        left:0;
        right:0;
        margin: auto;

    }

    #Search #searchButton{
        position: absolute;
        bottom: 20px;
        left:0;
        right:0;
        margin: auto;
        width:150px;

    }

    #Form{
        width:620px;
        height:300px;
        position: absolute;
        left:40px;
        top:80px;
    }



}