#header{

    border-radius: 20px;
   margin-top: 10px;

}

.Container{
   /* background: rgba(19, 18, 18, 0.79);*/
    width:87%;
    height: fit-content;
   /* margin-top:40px;
    margin-left:20px;*/
    margin: auto;
    padding:15px;
    border-radius: 20px;
     box-shadow: rgb(193, 57, 203) 0px 5px 15px;

}

#body{
    background: #b9a99c78;
}

#logo{
    color: rebeccapurple;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}

.Label{
    color: white;
    font-size: 32px;
    margin-top:20px;
    margin-left:40px;
    margin-bottom:30px;
    text-shadow: rebeccapurple;
}

img{
    width: 300px;
    height: 309px;
    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

.Mytable{
    margin-top:30px;
    margin-left:150px;
    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

#image{
    margin-top:40px;
    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

#ItemImage{
    margin-top:40px;
    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}


#row-1col-2{

    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

#itemForm{
    margin-top:40px;
}

#ItemDetailCard{
    background: #c98fc9
}



#invoiceDetailCard{
    background: #c98fc9

}

.search-container{
    display:flex;
}

.Mytable{
    border-radius: 20px;
    margin-left:5px;
    /* width: 79%; */
    padding: 27px
}






@media only screen and (max-width: 980px) {
    .Mytable{
        margin-left:0px;

    }

    #image{
        margin-bottom: 30px;
    }

   #invoiceDetails {
        margin-bottom: 30px;
    }

    #ItemDetails {
        margin-bottom: 30px;
    }


}






